.patientdetailsconatainer{
 
    background-color:#f4f6f9;
    width: 100%;
    height:88vh;
}
.patientdetailsconatainerheader {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    background-color: #f4f6f9;
    color: black;
    margin-top: 0;
    border-radius: 20px;
}
.patientdetailsconatainerheader1{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display two items per row */
    margin: 10px;
    margin: 10px;
    width: 22vw;
    background-color: white;
      border-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    align-items: center;
    
}


