.patientdetailsconatainer{
 
    background-color:#f4f6f9;
    width: 100%;
    height:88vh;
}
.patientdetailsconatainerheader{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    background-color: #ef305e;
    color: black;
    margin-top: 20px;
    border-radius: 20px;
}
.patientdetailsconatainerheader1{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display two items per row */
    margin: 10px;
    margin: 10px;
    width: 22vw;
    background-color: white;
      border-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    align-items: center;
    
}

.patientdetailsconatainerbuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
  

}
.patientdetailsconatainerbutton{
    display: flex;
    flex-direction: column;
    margin: 1vh;
    background-color: white;
    border-radius: 10px;
    width: 15vw;
    height: 3vw;
    color:  #007bff;
    overflow: auto;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-decoration: none;
    justify-content: center;

}
.patientdetailsconatainerform{
  display: flex;
  border: 1px solid black;
}
.nav-link {
  text-decoration: none;
}
.patientdetailsconatainerbutton.active {
  background-color: #007bff;
  color: white;
}