.paintentmaincontianer {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f9;
  height: 100vh;
  flex: 1;
}


.patientcontent {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 0px 30px;
  background-color: white;
  border-radius: 10px;
  height: 70vh;
  overflow: auto;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.belowheader
{
  display: flex;
  align-items: center;

}
.belowheaderfilter{
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
 margin-left: 50px;
  align-items: center;
  margin-top: 20px;
  
  height: 4vh;
  border-radius: 6px;
}

.filter {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 0;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 5vh;
    align-items: center;
    /* justify-content: space-around; */
    width: 8vw;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.selected-option:hover{
  color: #007bff;
}
.options {
  
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: 8vw;
  height: 22vh;
  flex-direction: column;
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 10px;
  margin: 2px 0px 0px 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.option {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.option:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.patientform {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  align-items: center;
}


.patientinput {
  background-color: white;
    border-color: #f9f9f9;
    color: #5e6278;
    height: 39px;
    border-radius: 10px;
    margin-right: 3px;
    display: flex;
    border: none;
    justify-content: flex-end;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.patientinput:focus {
  outline: none;
  border-color: #ccc;
}

.patientinputbutton {
  background-color: #007bff;
  border-radius: 10px;
  border: none;
  height: 37px;
  margin: 0px 61px 0px 10px;
  color: white;
}

.table-wrapper {
  flex: 1;
  /* overflow: auto; */
 
}

.table tbody tr:hover td {
  background-color: #ddd;
}



.table thead th  {
  border: none;
  color:#007bff;
  
}
.table tbody td {
  border: none;
  color: rgb(55, 51, 51);
}
.actionbuttons{
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.actionbutton{
  margin: 10px;
  width: 100%;
  background-color: white;
    border-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.highlighted {
  background-color: #f2f2f2;
  /* Add any other styling for the highlighted state */
}
.mega-dropdown{
  display: flex;
  flex-direction:column;
}

